#grad {
    background-image: linear-gradient(to left, rgb(38, 19, 96) , rgb(70,90,184));
    color:white;
    font-weight:bolder;
    font-size: 40px;
    padding: 5px 10px 10px 5px;
}
.card-title {
    font-weight:bolder;
}
.card {
    border-style: none;
}
#inputsearchcity{
    margin-bottom: 10px;
}
#forecast{
    color: white;
    background-color: rgb(50,61,79);
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}
#cleartext{
    font-size: 12px;
    text-decoration: none;
    color:gray;
}